*{
    margin: 10;
    padding: 5;
}

body{
    background-color: antiquewhite;
}

.todo{
    width: 500px;
    padding: 15px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -250px;
    font-family: cursive;
    text-align: center;
    background-color: cadetblue;
}

#nome{
    background-color: darkorange;
    margin: 5px;
}

#curso{
    background-color: greenyellow;
   margin: 5px;
}

#area{
    background-color: coral;
    margin: 5px;
}